/* PHASE 1: Header */
body {
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #eee;
}

header {
  background-color: #f00;
  width: 100%;
}

.header-nav {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
}

.header-nav a {
  display: block;
  padding: 10px 20px;
}

.header-nav li {
  border-left: 1px solid #fff;
}
.header-nav li:last-of-type {
  border-right: 1px solid #fff;
}

.header-nav a:hover {
  background-color: #000
  cursor:
}

.nav-logo a {
  font-weight: 700;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.header-list {
  display: flex;
}
